---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import Table from "../components/Table.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Benvenuti al FantaVinalia</div>
    <div class="text-5xl font-bold"></div>
    <div class="text-3xl py-3 font-bold"></div>
    <div class="py-2">
      <text class="text-lg">
        Fantavinalia è un gioco che rende tutti i partecipanti protagonisti di
        un evento immaginario, simile al FantaSanremo. Consiste nell’organizzare
        e gestire una squadra virtuale, composta dagli artisti in gara. Ogni
        concorrente può quindi avere un team formato da cinque artisti di cui
        uno sarà il capitano. Per partecipare al gioco devi comporre la tua
        squadra scegliendo 5 artisti tra quelli in gara. Saranno loro a farti
        guadagnare o perdere punti nella classifica. La tua squadra dovrà avere
        un capitano, che sarà cruciale nella serata finale quando i suoi bonus e
        i suoi malus verranno raddoppiati1. Quindi devi sceglierlo molto
        attentamente. Quando componi la tua squadra devi fare attenzione a non
        superare il budget di 100 Bicchieri, il sistema non dovrebbe permetterlo ma
        è comunque bene ricordarlo. I Bicchieri sono la moneta ufficiale del
        Fantavinalia e ogni giocatore ne ha 100 per comporre la sua squadra. Ricorda, il Fantavinalia è un
        gioco e dovrebbe essere divertente! Buon divertimento! 😊
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank">
        Let's connect!</a
      >
      <a onclick="stampa()" class="btn btn-outline ml-5"> Get This template</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/public/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <Table title="TRUE" , desc="FALSE" />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  



  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
