---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardTeam from "../components/HorizontalCardTeam.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import Table from "../components/Table.astro";



---

<BaseLayout sideBarActiveItemID="squadre">
  <div class="pb-12 mt-5">
    <div class="py-2">
      <text class="text-lg">
        Qui sono mostrate tutte le squadre partecipanti al FantaVinalia
      </text>
    </div>
    <div class="mt-8"></div>
  </div>
  <input type="text" placeholder="Cerca squadra" id="cerca" class="input input-bordered input-secondary w-full max-w-xs" />
  <div class="divider divider-success"></div>
  <HorizontalCardTeam
    nomeSquadra="Team1"
    punti="5"
    giocatore1="vodka"
    giocatore2="rum"
    giocatore3="vino"
    giocatore4="red"
    giocatore5="white"
    cantina="cantinaBinaca"
  />
  
  <HorizontalCardTeam
    nomeSquadra="Team100"
    punti="10"
    giocatore1="vodka"
    giocatore2="Rum Bianco"
    giocatore3="vino"
    giocatore4="azzurro"
    giocatore5= "Limoncello Lawrence"
    cantina="cantinaBinaca"
  />
  


  

</BaseLayout>

<script> 
  interface ScoreData { 
    element: HTMLDivElement; 
    score: number; 
  } 
   
  // Ottenere tutti gli elementi div all'interno del documento 
  const allDivs = document.getElementsByTagName('div'); 
   
  // Filtrare gli elementi div che hanno l'attributo data-score 
  const scoreDivs = Array.from(allDivs).filter((element) => element.hasAttribute('data-score')); 
   
  // Convertire NodeList in un array di ScoreData 
  const scoreArray: ScoreData[] = scoreDivs.map((element) => { 
    const score = parseInt(element.getAttribute('data-score') || '0', 10); 
    return { element: element as HTMLDivElement, score }; 
  }); 
   
  // Ordinare l'array in modo decrescente in base al punteggio 
  scoreArray.sort((a, b) => b.score - a.score); 
   
  // Sostituire i div nell'ordine corretto nel DOM 
  scoreArray.forEach((scoreData) => { 
    const container = scoreData.element.parentElement; 
    container?.appendChild(scoreData.element); 
  }); 
   
    </script>

<script> 
  // Ottenere l'elemento di input con ID 'cerca' 
const inputElement = document.getElementById('cerca') as HTMLInputElement; 

// Aggiungere un gestore per l'evento di input 
inputElement.addEventListener('input', () => { 
   // Ottenere il testo inserito nell'input e convertirlo in minuscolo 
   const searchText = inputElement.value.toLowerCase(); 

   // Ottenere tutti i div con classe 'rounded-lg' 
   const divsToFilter = document.querySelectorAll('.rounded-lg'); 

   // Iterare attraverso i div e nascondere quelli che non corrispondono alla ricerca 
   divsToFilter.forEach((div) => { 
       const nomeSElement = div.querySelector('.nomeS') as HTMLElement | null; 

       // Verificare se l'elemento esiste prima di accedere al testo 
       if (nomeSElement) { 
           const nomeSContent = nomeSElement.textContent.toLowerCase(); 

           // Mostrare o nascondere il div in base alla corrispondenza con la ricerca 
           if (nomeSContent.includes(searchText)) { 
           (div as HTMLElement).style.display = 'block';  // Mostra il div 
       } else { 
           (div as HTMLElement).style.display = 'none';   // Nascondi il div 
       } 
       } 
   }); 
}); 

 </script>

